
@monofont: "Droid Sans Mono", "Roboto Mono", "Lucida Console", monospace;
@normalfont: sans-serif;

@brcm_color: rgb(204,32,48);
@grey: rgb(239,239,239);
@dgrey: darken(@grey, 10%);
@ddgrey: darken(@grey, 20%);

