
/* I love you Mr.'display:flex'!!! :-) */

.pkd,
.dt {
    span p:last-child {
        margin-bottom: 0;
    }
}

.pkd {
    //border: 1px solid @brcm_color;
    border-top: 3px solid @brcm_color;
    background-color: @grey;
    font-family: @monofont;
    font-size: .75em;
    width: 90%;
    margin: 0 auto;
    padding: 0;

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    span {
        display: block;
        padding: 2px 2px;
        height: 100%;
    }

    span a {
        display: block;
        height: 100%;
        vertical-align: middle;
        color: black !important;
        text-decoration: none !important;

        &:hover {
            background-color: @dgrey !important;
        }
    }

    .left  { float: left;  }
    .right { float: right; }
    .clear { clear: both;  } /* clear floats */
}

.pkd_row {
    //border: 1px solid @brcm_color;
    border-left: 1px solid @brcm_color;
    border-right: 1px solid @brcm_color;
    border-bottom: 1px solid @brcm_color;
    width: 100%;
    display: flex;

    .overflowHidden() {
        /* overflow text in a small box */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .flex90() {
        display: flex;
        width: 90%;
    }

    .pkd_row_margin {
        .overflowHidden();
        background-color: @dgrey;
        //border-right: 1px solid @brcm_color;
        width: 10%;
        text-align: right;
        font-weight: bold;
    }

    .pkd_row_header {
        .flex90();
        background-color: @dgrey;
        font-weight: bold;

        > div {
            .overflowHidden();
        }

        div:first-child {
            border-left: 1px solid @brcm_color;
        }
    }

    .pkd_row_data {
        .flex90();
        flex-direction: row-reverse;

        > div {
            .overflowHidden();
            background-color: #fff;
            border-left: 1px solid @brcm_color;
            text-align: center;
        }

        .pkd_row_data_empty {
            background-color: @grey;
            font-style: italic;
            color: @brcm_color;
        }
    }
}

.pkd_widths(@cnt, @i: 1) when (@i <= @cnt) {
  .pkd_width_@{i} {
      width: (@i * 100% / @cnt);
  }
  .pkd_widths(@cnt, (@i + 1));
}
.pkd_widths(100);

.dt {
    //border: 1px solid @brcm_color;
    border-top: 3px solid @brcm_color;
    //background-color: @grey;
    //font-family: @monofont;
    font-size: .80em;
    width: 90%;
    margin: 0 auto;
    padding: 0;

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    span {
        display: block;
        padding: 2px 2px;
    }

    span a {
        display: block;
        color: black !important;
        text-decoration: none !important;

        &:hover {
            background-color: @dgrey !important;
        }
    }
}

.dt_row {
    //border: 1px solid @brcm_color;
    border-left: 1px solid @brcm_color;
    border-right: 1px solid @brcm_color;
    border-bottom: 1px solid @brcm_color;
    width: 100%;
    display: flex;

    .overflowBreakAll() {
        /* overflow text in a small box */
        word-break: break-all;
    }

    .flex90() {
        display: flex;
        width: 90%;
    }

    .dt_row_header {
        background-color: @dgrey;
        //font-family: @normalfont !important;
        font-weight: bold;
    }

    .dt_row_value {
        width: 20%;
        text-align: center;
        //font-family: @monofont;
    }

    .dt_row_name {
        .overflowBreakAll();
        width: 30%;
        text-align: center;
        border-left: 1px solid @brcm_color;
        //font-family: @monofont;
    }

    .dt_row_descr {
        width: 100%; /* only on last flex'ed div */
        border-left: 1px solid @brcm_color;
    }

    ul, ol {
        list-style-position: inside;

        li {
            margin: 5px 0;
        }
    }
}

.field_location {
    font-size: .70em;
}

.multi_column_list {
    border: 1px solid @dgrey;
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;

    ul {
        -moz-column-rule: 1px solid @dgrey;
        -moz-column-count: 3;
        -moz-column-gap: 2em;
        -webkit-column-rule: 1px solid @dgrey;
        -webkit-column-count: 3;
        -webkit-column-gap: 2em;
        column-rule: 1px solid @dgrey;
        column-count: 3;
        column-gap: 2em;

        list-style: none;
        margin: 0;
        padding: 0;
    }
}

