
@import "base.less";

.page .section code,
.page .section pre,
.page .section pre>code {
    font-family: @monofont;
    font-size: .9em;
    line-height: 1.4;
    background-color: @grey;
}

.page .section blockquote {
    border-left: 1px solid @brcm_color;
    color: #404040;
    font-size: .95em;
    line-height: 1.4;
}

.image-wrapper {
    text-align: center;
    padding: 10px 20px;
}

@import "data.less";
@import "snip.less";

